---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ExperienceTimeline from '../components/ExperienceTimeline.astro';
import Projects from '../components/Projects.astro';
import SkillsGrid from '../components/SkillsGrid.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Header />
  <main>
    <Hero />
    <ExperienceTimeline />
    <Projects />
    <SkillsGrid />
  </main>
  <Footer />
</Base>
